* {margin: 0; padding:0; box-sizing: border-box;}
body {
	color: #33332D;
	background: #F6F7D8;
}
h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-family: 'Raleway', sans-serif; 
}
p {
	font-family: 'Roboto Slab', serif;
}
ul {
	font-family: 'Roboto Slab', serif;
}
li {
	font-family: 'Roboto Slab', serif;
}
header {
	font-family: 'Roboto Slab', serif;
	color: white;
}
header nav {
	float: right;
	padding: 2em;
}
header nav a {
	color: #3d3e3d;
	padding: 2em;
}
header nav a:visited {
	color: smokewhite;
}
header nav a:hover {
	color: orange;
}
footer {
	font-family: 'Roboto Slab', serif;
	color: white;
	background: #42423C;
	padding: 4em 1em 2em 1em;
}
footer a {
	text-decoration: none;
	color: orange;
}
footer a:visited {
	color: #d4d4ab;
}
nav a {
	text-decoration: none;
}
.hero {
	background-image: url(../images/paintswhite.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 15em 0 0;
	height:90vh;
}
.hero .btn {
	display: inline-block;
	padding: 1em 4em;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;
	color: white;
	background: #602E7A;
}
.hero-inner {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
}
#tgmlogo {
	float: left;
}
#slogan {
	text-align: center;
	font-style: italic;
	font-size: 28px;
	font-family: 'Roboto Slab', serif;
	padding: 1em;
}

#two_column {
	background-color: whitesmoke;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: darkgrey;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: darkgrey;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}