body {
	color: #33332D;
	background: #F6F7D8;
}
h1 {
	text-align: center;
	font-size: 60px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}
p {
	font-weight: 100;
	font-family: 'Roboto Slab', serif;
}
ul {
	font-family: 'Roboto Slab', serif;
}
li {
	font-family: 'Roboto Slab', serif;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
}
#slogan {
	text-align: center;
	font-style: italic;
	font-size: 28px;
	font-family: 'Roboto Slab', serif;
}